body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.top {
    display: flex;
    flex-direction: column;
    padding-left : 216px;
    padding-right: 216px;
    padding-top: 14px;
    padding-bottom: 84px;
    background-color: #1F2937;
    color : #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}
.links {
    display: flex;
    gap : 20px;
}

.content {
    display: flex;
    gap : 80px;
}

.text {
    width : 500px;
}

.big{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: -20px;
}

button {
    height : 60px;
    width : 150px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
}

.empty {
    margin-top: 40px;
    height : 350px;
    width : 600px;
    background-color: rgb(97, 95, 95);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #42464e;
}

.heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    gap : 68px;
}

.boxes .one .text,
.boxes .two .text,
.boxes .three .text,
.boxes .four .text {
    width : 200px;
    height : 200px;
    text-align: center;
}

.boxes .one .image,
.boxes .two .image,
.boxes .three .image,
.boxes .four .image {
    width : 200px;
    height : 200px;
    border: 4px solid blue;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color : #e5e7eb;
    font-family : cursive; 
    color : #63666b;
    font-size: 36px;
    padding : 72px;
}

.quote .text {
    margin: auto;
    width : 1000px;
}

.quote .author {
    position: relative;
    left : 750px;
    bottom : 30px;
}

